.rate-1{
   background-color: #820014;
}
.rate-2{
    background-color: #a8071a;
}
.rate-3{
    background-color: #cf1322;
}
.rate-4{
    background-color:#ff4d4f;
}
.rate-5{
    background-color: #ffa39e;
}
.rate-6{
    background-color: #d9f7be;
}
.rate-7{
    background-color: #b7eb8f;
}
.rate-8{
    background-color: #95de64;
}
.rate-9{
     background-color: #52c41a;
}